<div class="container">
  <div class="login-form">
    <form>
      <mat-card>
        <mat-card-content>
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Логин"
              [(ngModel)]="user.email"
              name="email"
              #email>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input
              type="password"
              matInput
              placeholder="Пароль"
              [(ngModel)]="user.password"
              name="password"
              #password>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions class="btn-center-alignment">
          <button
            (click)="signIn()"
            mat-raised-button
            color="primary">
            Войти
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
  {{currentUser | json}}
</div>
