<div class="container">

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="header-image">
        <img src="https://picsum.photos/200/200"
             alt="avatar">
      </div>
      <mat-card-title>{{currentUser.email}}</mat-card-title>
      <mat-card-subtitle>{{currentUser.name}}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Избранные мероприятия
      </mat-panel-title>
      <mat-panel-description>
        <mat-icon>grade</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div *ngFor="let bookmark of bookmarks" class="bookmarks-panel">
      <button mat-raised-button
              color="accent"
              class="bookmark-button"
              [routerLink]="['/event', bookmark.id]">
        {{bookmark.name}}
      </button>
      <div class="delete-icon" (click)="deleteBookmark(bookmark.id)">
        <mat-icon>delete</mat-icon>
      </div>
    </div>
  </mat-expansion-panel>

</div>

<button
  mat-fab
  class="to-events-button"
  (click)="toEventsList()">
  <mat-icon aria-label="Example icon-button with a heart icon">class</mat-icon>
</button>
